@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .h-inherit{
        height: inherit;
    }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
}

*::-webkit-scrollbar {
    width: 7px;
    background-color: #2C3440;
}

*::-webkit-scrollbar-thumb {
    width: 7px;
    background-color:  rgb(226 232 240);
    border-radius: 7px;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #E3951E;
}

textarea.ant-input{
    resize: none;
}

.ant-btn.ant-btn-default.disable-text-hover:hover{
    color: #e3e2da;
}

.ant-steps .ant-steps-item-process .ant-steps-item-icon{
    background-color: #E3951E !important;
    border-color: #E3951E !important;
}

button.ant-btn-primary{
    background-color: #E3951E;
}

.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover{
    background-color: #D78D19;
}

input.ant-input{
    font-family: inherit;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner.ant-picker-cell-inner{
    background-color: #E3951E;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-tail::after{
    background-color: #E3951E !important;
}

.ant-steps .ant-steps-item-finish>.ant-steps-item-container>.ant-steps-item-content>.ant-steps-item-title::after{
    background-color: #E3951E !important;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon{
    background-color: #E3951E;
    border-color: #E3951E;
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon >.ant-steps-icon{
    color: white !important;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before{
    border-color: #E3951E !important;
}

.ant-picker-dropdown .ant-picker-time-panel-column >li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner{
    background-color: #E3951E;
    color: white
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    background-color: unset;
}

.ant-picker-dropdown .ant-picker-today-btn{
    color: #E3951E !important;
}

a:hover{
    color: #E3951E !important;
}